.botao-index {
    font-size: 1.25em;
    background-color: #424242;
    color: #FFF;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
.botao-index:focus,
.botao-index:hover {
    background-color: #A4A4A4;
    color: white;
    box-shadow: 0 0 1em #FFFFFF;
}