h1 {
	font-family: "FreeMono", monospace;
}
h2{
	font-family: "Courier";
}
.container{
	width: auto;
	margin: auto;
	text-align: center;
}
.casa{
	width: 100px;
	height: 100px;
	border-style: solid;
	border-width: 3px;
	display: inline-block;
	background-size: cover;
	background-color: white;
}
body {
	background-image: url(img/fundo.png); 
	background-size: cover;
	background-repeat: no-repeat;

}
#jogada{
	text-shadow: #fff;
}

.Butao{
	font-family: Courier;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px;
	border:none;
	border-radius: 0px;
	cursor: pointer;
}
.ButaoEfeito{
	background: #585858;
	color: #fff;
	box-shadow:0 5px #2E2E2E;
}
.ButaoEfeito:hover{
	background: #2E2E2E;
	color: #fff;
	box-shadow:0 5px #2E2E2E;
}
.ButaoEfeito:active{
	position: relative;
	top:5px;
	box-shadow:none;
}

.botao-index {
    font-size: 1.25em;
    background-color: #424242;
    color: #FFF;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
.botao-index:focus,
.botao-index:hover {
    background-color: #A4A4A4;
    color: white;
    box-shadow: 0 0 1em #FFFFFF;
}


#imagem{
	width: 70px;
	height: 70px;
}